@use "./variables" as *;

.fa-skull-crossbones {
  display: inline;
  justify-self: center;
  align-self: center;
}

.header {
  &__button {
    @include header-element($color-tertiary);
    &:active {
      box-shadow: -0.05rem -0.05rem 0.05rem 0.05rem $color-primary inset,
        0.1rem 0.1rem 0.1rem 0.1rem $color-primary inset;
    }
  }

  &__mine-counter,
  &__clock {
    @include header-element;
    font-family: $font-primary;
  }
}

.tile {
  background-color: $color-tertiary;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  font-size: $font-primary-size;
  &.hidden {
    background-color: $color-primary;
    font-size: 0;
    box-shadow: -0.08rem -0.08rem 0.08rem 0.08rem $color-shadow inset,
      0.08rem 0.08rem 0.08rem 0.08rem $color-tertiary inset;
    * {
      display: none;
    }
    &:active {
      box-shadow: -0.04rem -0.04rem 0.04rem 0.04rem $color-shadow inset,
        0.08rem 0.08rem 0.08rem 0.08rem $color-shadow inset;
    }
  }
  &.flagged {
    background-image: url("../assets/skull-crossbones-solid.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
