@use "./variables" as *;

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem;

  .board {
    width: 15rem;
    height: 18rem;
    border: 0.2rem solid $color-primary;
    display: grid;
    grid-template-rows: 1fr 5fr;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2rem;
      background-color: $color-secondary;
      box-shadow: -0.05rem -0.05rem 0.05rem 0.05rem $color-tertiary inset,
        0.05rem 0.05rem 0.05rem 0.05rem $color-primary inset;
    }

    .tile-grid {
      background-color: $color-primary;
      width: 100%;
      border-top: 0.2rem solid $color-primary;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 0.1rem;
    }
  }
  .level-options {
    font-family: $options-font;
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      padding: 0.5rem;
      border: 0.1rem solid $color-primary;
      background-color: $color-secondary;
      &__dropdown {
        background-color: inherit;
        font-family: inherit;
        font-size: inherit;
      }
    }
  }
}
