@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto:wght@300&display=swap");

$numbers-font: "Inconsolata", monospace;
$numbers-font-size: 1.25rem;

$options-font: "Roboto", sans-serif;

$color-primary: gray;
$color-secondary: lightgray;
$color-tertiary: white;
$color-tile-shadow: black;

@mixin header-element($color-shadow: $color-primary) {
  background-color: $color-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -0.1rem -0.1rem 0.1rem 0.1rem $color-primary inset,
    0.1rem 0.1rem 0.1rem 0.1rem $color-shadow inset;
}
